---
# tasks file for ansible-role-squid

- name: "Install squid"
  package: 
    name: squid 
    state: "{{ squid_package_state }}"

- include_tasks: redhat.yml
  when: ansible_os_family == "RedHat"

- include_tasks: debian.yml
  when: ansible_os_family == "Debian"

- name: "is squid listening?"
  command: ss -lntu
  register: squid_ss_output
  check_mode: no
  changed_when: False

- debug:
    var: squid_ss_output
    verbosity: 1

- name: Wait for squid port to come up
  wait_for:
    port: 3128
    timeout: 60
    host: 0.0.0.0
  when: ansible_virtualization_type != "docker"
...
